name: Test

on:
  push:
    branches: [main]

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - { node: '20' }
          - { node: '22' }
          - { node: '24' }
          - { node: '25' }
    runs-on: ubuntu-latest
    container: node:${{ matrix.node }}
    services:
      mongo:
        image: mongo:8
      redis:
        image: redis:8-alpine
      pg:
        image: postgres:18-alpine
        env:
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s
          --health-retries 5
      ddb:
        image: amazon/dynamodb-local:latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Test
        run: npm install-test
        env:
          MONGO_URL: mongodb://mongo:27017/collection-storage-tests
          REDIS_URL: redis://redis:6379/15
          PSQL_URL: postgresql://postgres:password@pg:5432/collection-storage-tests
          DDB_URL: dynamodb://key:secret@ddb:8000/collection-storage-tests-?tls=false&consistentRead=true
